body {
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: linear-gradient(120deg, #89f7fe, #66a6ff);
      color: #333;
    }
    .card1{
      display: none;
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
      text-align: center;
      width: 300px;
    }
    .card2{
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
      text-align: center;
      width: 300px;
    }
    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 10px;
      width: 80%;
    }
    button {
      padding: 10px;
      background: #66a6ff;
      border: none;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      background: #5590e0;
    }

  a{
    text-decoration: none;
    margin: 20px;
    background-color: rgb(255, 253, 227);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    color: black;
  }